# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Playgrounds
timeline.playground/

# Misc
.DS_Store
*.swp
*~.nib

# Firebase
GoogleService-Info.plist

# Environment
.env
.env.local
*.xcconfig.local
